<% layout('../../layouts/main') %>
<h1>Создание новости</h1>
<a href="/">&laquo;Назад</a>

<form action="/create.html" method="POST">
    <label>Название</label>
    <input type="text" name="name_of_news" value="" required>
    <button type="submit">Отправить</button>
</form>