<% layout('../../layouts/main') %>
<h1>Список новостей</h1>
<a href="/create.html">СОЗДАТЬ НОВОСТЬ</a><br/>
<table border="1" cellpadding="1" style="width: 100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Операции</th>
        </tr>
    </thead>
    <tbody>

<% for (var i=0; i<items.length; i++){ %>
    <tr>
        <td><%- items[i].id %></td>
        <td><%- items[i].name %></td>
        <td>
            <a href="/<%- items[i].id %>.html">Подробнее</a> |
            <a href="/update/<%- items[i].id %>.html">Изменить</a> |
            <a href="/delete/<%- items[i].id %>.html" onclick="return confirm('Вы реально хотите это сделать?');">Удалить</a>
        </td>
    </tr>
<% } %>
    </tbody>
</table>