<% layout('../../layouts/main') %>
<h1>Обновление новости</h1>
<a href="/">&laquo;Назад</a>

<form action="/update/<%- item.id %>.html" method="POST">
    <label>Название</label>
    <input type="text" name="name_of_news" value="<%- item.name %>" required>
    <button type="submit">Сохранить</button>
</form>